<template>
  <div>
    <header>
      <div class="row">
        <div class="col col-lg-2 logo">
          <h2>
            Mijn webstore
            <i class="fas fa-running"></i>
          </h2>
        </div>

        <div class="col col-lg-8 search">
          <input class="searchbar" placeholder="Zoeken..." />
        </div>

        <div class="col col-lg-1 cart">
          <a @click="myFilter">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
    </header>
    <div>
      <table v-bind:class="{ active: isActive }" class="cart-items">
        <tr v-for="product in cart" v-bind:key="product.id">
          <td>{{product.name}}</td>
        </tr>
        <tr>
          <td>
            <router-link style="margin: 8px;" class="btn btn-primary" :to="{ name: 'cart' }">Bekijk</router-link>
          </td>
        </tr>
      </table>
    </div>
    <section>
      <nav>
        <ul>
          <li>
            <router-link :to="{ name: 'home' }">Home</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'newproduct' }">Nieuw product toevoegen</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'overview' }">Overzicht</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'modernview' }">Moderne productlijst</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'cart' }">Winkelwagen</router-link>
          </li>
        </ul>
      </nav>
      <article>
        <notifications group="notif" position="bottom right" />
        <div id="overlay" v-if="loading">
          <p class="loader"></p>
        </div>
        <router-view></router-view>
      </article>
    </section>
  </div>
</template>

<script>
import Cart from "./Components/Cart.vue";
export default {
  name: "app",
  components: {
    Cart
  },

  data() {
    return {
      isActive: false
    };
  },

  computed: {
    cart() {
      return this.$store.state.Cart;
    },

    loading() {
      return this.$store.state.loading;
    }
  },

  methods: {
    myFilter: function() {
      this.isActive = !this.isActive;
    }
  }
};
</script>

<style>
</style>
