* {
    box-sizing: border-box;
}

body {
    font-family: 'Blinker', sans-serif;
    height: 100%;
}

/* Style the header */
header {
    background-color: cornflowerblue;
    padding-bottom: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 10%;
    /* only for demonstration, should be removed */
    height: 2000px;
    border-right: 1px lightgray solid;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;

}

nav a {
    text-decoration: none;
    color: gray;
    
}

nav li {
    padding: 12px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 12px;
    
}

article {
    float: left;
    padding: 20px;
    width: 90%;
    height: 100%;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

.product-photo {
    opacity: 1;
    width: 250px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 20px;
}

.product-show {
   border:lightgray 1px solid;
   width: 300px;
   text-align: center;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
  }
  
  .container:hover .product-photo {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: lightgrey;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 12px;
  }


  
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.overview {
  margin: 20px;
  padding: 20px;
  border: lightgrey 1px solid;
}

.row {
  display: flex;
  align-content: center;
}

.column-image {
  width: 25%;
}

.column-text {
  width: 75%;
} 
.product-photo-overview {
  opacity: 1;
  width: 300px;
  height:350px;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 20px;
}

.searchbar {
  height: 35px;
  padding: 8px;
  font-size: 16px;
  width: 40%;
  border: none;
  border-radius: 16px;
  margin-top: 5px;
}

.logo {
  margin-top: 15px;
}

.search { 
  margin-top: 5px;
}

.cart{
  margin-top: 10px;
  margin-left: 150px;
}
.cart-items{
  display: none;
  list-style: none;
}
.active {
  position: fixed;
  display: block;
  background: white;
  color: black;
  border: grey 1px solid;
  width: 200px;
  right: 0; 
}

.tiny-photo {
  width: 125px;
  height:150px;
}

.fa-shopping-cart:hover{
  color: lightgrey;
}


.msg {
  border: red 1px solid;
  padding: 4px;
  background: salmon;
  border-radius: 12px;
  width: 50%;
  font-size: 16px;
  font-weight: bold;
}

.success-msg {
  border: green 1px solid;
  padding: 4px;
  background: lightgreen;
  border-radius: 12px;
  font-size: 16px;
}

.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid grey; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}