<template>
<div>
    <div class="container">
        <table class="table table-bordered">
            <tr v-for="product in cart" v-bind:key="product.id">
            <td><img v-bind:src="product.photo" class="tiny-photo" /></td>
            <td>{{ product.name }}</td>
            <td>{{ product.available }}</td>
            </tr>
        </table>
    </div>
</div>
</template>

<script>
export default {
    name: "cart",
        data() {
        return {
        };
    },
    computed: {
        cart() {
            return this.$store.state.Cart;
        },
    },

    methods: {
        }
};
</script>

<style>
</style>
