<template>
  <div class="editproduct">
    <div class="container">
      <div class="card text-center">
        <div class="card-body">
          <h3>{{ product.name }}</h3>
          <br />
          <br />
          <div class="form-group">
            <label>Productnaam:</label>
            <input v-model="product.name" class="form-control" type="text" id="input" />
          </div>
          <br />
          <div class="form-group">
            <label>Foto URL:</label>
            <input class="form-control" v-model="product.photo" type="text" id="input" />
          </div>
          <br />
          <button @click="saveEdit(product)" class="btn btn-secondary">Aanpassingen opslaan</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "editproduct",
  data() {
    return {
      msg: ""
    };
  },
  computed: {
    product() {
      return {
        ...this.$store.state.allProducts.find(
          product => product.id == this.$route.params.id
        )
      };
    }
  },

  methods: {
    saveEdit(product) {
      this.$store.dispatch("editProduct", product);
    }
  }
};
</script>

<style>
</style>
