<template>
  <div>
    <h1>Overzicht</h1>
      <table>
      <thead></thead>

      <tbody>
        <td class="product-show" v-bind:key="product.id" v-for="product in products">
          <div class="container">
            <h5>{{product.name}}</h5>
            <img v-bind:src="product.photo" class="product-photo" />
            <div class="middle">
              <div class="text">
                <router-link
                  style="color:white;"
                  :to="{ name: 'product.show', params:{id:product.id}, }"
                >Bekijk</router-link>
              </div>
            </div>
          </div>
        </td>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
    };
  },

  computed: {
    products() {
      return this.$store.state.allProducts;
    },
  },

  methods: {

  }
};
</script>

<style>
</style>
