<template>
  <div class="newproduct">
    <div class="container">
      <h2>Nieuw Product</h2>
      <div class="card text-center">
        <div class="card-body">
          <p v-if="msg">{{msg}}</p>
          <br />

          <br />
          <div class="form-group">
            <label>Productnaam:</label>
            <input
              class="form-control"
              v-model="productName"
              placeholder="Productnaam invoeren..."
              type="text"
              id="input"
            />
          </div>
          <br />
          <div class="form-group">
            <label>Foto URL:</label>
            <input
              class="form-control"
              placeholder="Foto URL invoeren..."
              v-model="photoURL"
              type="text"
              id="input"
            />
          </div>
          <br />
          <button @click="addNewProduct()" class="btn btn-secondary">Product toevoegen</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "newproduct",
  data() {
    return {
      productName: "",
      photoURL: "",
      msg: ""
    };
  },
  methods: {
    addNewProduct() {
      this.$store.dispatch("addNewProduct", {
        name: this.productName,
        photo: this.photoURL
      });
    }
  }
};
</script>

<style>
</style>
