<template>
  <div>
    <h1>Overzicht</h1>
    <div id="overlay" v-if="loading">test</div>
    <p class="msg" v-if="msg">{{msg}}</p>
    <table class="table table-bordered">
      <thead>
        <th>Foto</th>
        <th>Productnaam</th>
        <th>Hoeveelheid beschikbaar</th>
        <th>Hoeveelheid aanpassen</th>
        <th>Product aanpassingen</th>
      </thead>
      <tbody>
        <tr v-bind:key="product.id" v-for="product in products">
          <td>
            {{product.photo}}
            <!-- <img v-bind:src="product.photo" class="product-photo" /> -->
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.available }}</td>
          <td>
            <button class="btn btn-secondary" @click="minusProduct(product)">-</button>
            <button class="btn btn-secondary" @click="plusProduct(product)">+</button>
          </td>
          <td>
            <button class="btn btn-secondary" @click="removeProduct(product)">Product verwijderen</button>
            <button class="btn btn-secondary">
              <router-link
                style="color:white;"
                :to="{ name: 'product.edit', params:{id:product.id}, }"
              >Product aanpassen</router-link>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      msg: "",
      loading: false
    };
  },

  computed: {
    products() {
      return this.$store.state.allProducts;
    }
  },

  methods: {
    plusProduct(product) {
      this.$store.dispatch("addProduct", product);
    },
    minusProduct(product) {
      this.$store.dispatch("removeProduct", product);
    },
    removeProduct(product) {
      this.$store.dispatch("deleteProduct", product);

      if (this.$store.state.allProducts.length < 1) {
        this.msg = "Geen producten";
      }
    }
  },

  mounted() {
    this.$store.dispatch("loadProducts");
  }
};
</script>

<style>
</style>
