<template>
  <div class="overview">
    <div class="row">
      <div class="column-image">
        <img v-bind:src="product.photo" class="product-photo-overview" />
      </div>
      <div class="column-text">
        <h4>{{ product.name }}</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p>Aantal beschikbaar: {{ product.available }}</p>
        <button class="btn btn-secondary">
          <router-link
            style="color:white;"
            :to="{ name: 'product.edit', params:{id:product.id}, }"
          >Product aanpassen</router-link>
        </button>
        <button class="btn btn-secondary" @click="removeProduct(product)">Product verwijderen</button>
        <button class="btn btn-secondary" @click="addtoCart(product)">Aan winkelwagen toevoegen</button>
      </div>
    </div>

    <br />
    <p>Hoeveelheid aanpassen:</p>
    <button class="btn btn-secondary" @click="plusProduct(product)">+</button>
    <button class="btn btn-secondary" @click="minusProduct(product)">-</button>
  </div>
</template>


<script>
export default {
  name: "overview",
  data() {
    return {
      count: 0
    };
  },

  computed: {
    product() {
      return this.$store.state.allProducts.find(
        product => product.id == this.$route.params.id
      );
    }
  },

  methods: {
    plusProduct(product) {
      this.$store.dispatch("addProduct", product);
    },

    minusProduct(product) {
      this.$store.dispatch("removeProduct", product);
    },

    removeProduct(product) {
      this.$store.dispatch("deleteProduct", product);
      location.replace("/#/overview");
    },

    addtoCart(product) {
      this.$store.dispatch("addtoCart", product);
      //need to somehow add a counter to the products, like 2 footballs added but just one football object instead of adding a new object to the array every time.
    },

    log() {
      console.log();
    }
  }
};
</script>
